.card img {
    width: 100%;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
    margin-bottom: 10px;
}

.card button {
    background: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer; 
}

.card-content{
    padding: 20px;
}